.cursor {
	display: none;
	overflow: hidden;
}

a {
	cursor: none;
	text-decoration: none;
}

button {
	cursor: none;
	text-decoration: none;
	pointer-events: none;
}

.cursor__ball--small{
	fill: var(--white);

}

/* .cursor__ball--big{
	fill: transparent;
	border-radius: 2px solid var(--white);
} */

@media (min-width: 768px) {
	html,
	body {
		cursor: none;
	}

	.cursor {
		pointer-events: none;
		text-transform: uppercase;
	}

	.cursor .cursor__ball {
		left: 0;
		mix-blend-mode: difference;
		position: fixed;
		top: 0;
		z-index: 1000;
	}
}
