.hero-section {
	height: 100vh;
	width: 100vw;

	background-color: var(--bg-color);
	color: var(--white);

	max-width: 100%;
	overflow-x: hidden;
	font-size: calc(10px + 2vmin);
	top: 0;
	left: 0;


	background-size: contain;
	/*
	/* background-size: 15%, 20%;
    /* Adjust as needed */
	background-position: center right;
	/* Adjust as needed */
	background-repeat: no-repeat;
}

.hero-header {
	position: absolute;
	/* do not remove fixed. relative content should not account with this div's height */
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top: 2vh;
}

.hero-main {
	/* position: relative; */
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	padding: 0 6vw;
	width: 100%;
	height: 100vh;
}

.hero-title {
	position: relative;
	color: var(--Palette-White, #f4efef);
	font-family: Satoshi;
	font-size: 5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 3vh;
}

/*
.hero-gradient-text {
	transition: all 0.5s ease-in-out;
	background: linear-gradient(108deg, #1bf4f9, #002cdcb4);
	background-position: center !important;
	background-size: cover !important;
	-webkit-background-clip: text !important;
	color: #171716;
	-webkit-text-stroke: 2px transparent;
}

.hero-gradient-text2 {
	transition: all 0.5s ease-in-out;
	background: linear-gradient(196deg, #1bf4f9, #0a69e6aa);
	background-position: center !important;
	background-size: cover !important;
	-webkit-background-clip: text !important;
	color: #171716;
	-webkit-text-stroke: 2px transparent;
}
*/

.test {
	background: -webkit-linear-gradient(45deg, var(--blue-main) 25%, #0a69e6aa 70%, var(--blue-main) 100%)  0 0 / var(--bg-size) 100%;
	-webkit-background-clip: text;
	-webkit-text-stroke: 3px transparent;
	color: var(--bg-color);
	
	background-clip: text;
	--bg-size: 400%;
}

@media (prefers-reduced-motion: no-preference) {
	.test {
		animation: move-bg 15s linear infinite;
	}

	@keyframes move-bg {
		to {
			background-position: calc(-400%) 0;
		}
	}
}

.keep-scrolling-container{
	position: absolute;
	bottom: 5vh;
	right: 6vw;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	.hero-main {
		/* padding: 0 2vw; */
		font-size: 0.9rem;
		text-align: center;
		align-items: center;
	}

	.hero-title {
		font-size: 4rem;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	/* alterar tamanho do texto */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}