.solutions-section {
  background-color: var(--bg-color);
  height: fit-content;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.solutions-title {
  padding-left: 6vw;
}

.solutions-main {
  width: 100%;
  height: min-content;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.solutions-content-wrapper {
  position: relative;
  padding: 2rem 6vw;
  padding-bottom: 0vh !important;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.globe {
  opacity: 0.5;
  position: absolute;
  /* right: -10%; */
  top: 0;
  right: 0;
  z-index: 0 !important;
  /* scale*/
  transform: rotate(-25deg);
  overflow: hidden;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .solutions-section {
    /* align-items: center; */
    min-height: 100vh;

    justify-content: center;
  }

  .solutions-title {
    font-size: 1.7rem;
  }

  .solutions-content-wrapper {
    justify-content: center;
  }

  .globe {
    opacity: 0.3;
    right: -10vw;

    /* position: absolute; */
    /* width: 50vw !important;
		height: 70vh; */
    /* scale*/
    transform: rotate(-25deg);
    overflow: hidden;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .solutions-section {
    min-height: fit-content !important;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .solutions-title, .solutions-main{
    align-content: flex-start;
    width: 1400px;
  }

  /* .solutions-section {

    justify-content: center;
  }

  .solutions-title, .solutions-main {
    max-width: 1700px;
  } */
}
