.approach-section {
	background-color: var(--bg-color);
	color: var(--white);
	height: fit-content;

	padding: 0 6vw;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 3rem;

    overflow: hidden;
}

.approach-content-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;

	height: fit-content;
}

#ball {
	position: sticky;
	z-index: 100;
	width: 2rem;
	height: 2rem;
	/* margin-top: calc(((2.5rem + 4px) - 2rem) / 2); */
	/* top: 50%; */
	/* Stick to the middle of the page */
	left: auto;
	/* Reset left property to auto */
	right: auto;
	/* Move the ball to the left side */
	flex: 0 1 auto;
	background-color: var(--blue-main);
	border-radius: 100%;
	transition: top 0.2s ease;
	top: 10%;
	margin-top: -1rem;
}

.approach-card-wrapper {
	display: flex;
	flex-direction: row;
}

.ball-slider {
	width: fit-content;
	height: auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.ball-slot {
	width: 2.5rem;
	height: 2.5rem;
	/* flex: 0 1 auto; */
	background-color: transparent;
	border-radius: 100%;
	border: 2px solid var(--white);
}

.ball-line {
	border-left: 2px solid var(--white);
	flex: 1 1 auto;
	transform: rotate(180deg);
}

.approach-cards {
	display: flex;
	flex: 1 0 auto;
	height: fit-content;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.approach-card {
	height: 20vh;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;
	padding: 2vw;
}

.approach-card h1 {
	font-size: 1.6rem;
	font-weight: 600;
}

.approach-card span {
	font-size: 1.2rem;
	font-weight: 400;
}

.approach-card-wrapper img {
	position: absolute;
	right: 0;
	width: 10rem;
	height: 10rem;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
