.App {
	margin: 0;
	padding: 0;
	cursor: none;
	overflow: hidden;
}

.mouse-cursor-wrapper {
	opacity: 1 !important;
}

.curved-lines-container {
	width: auto;
	height: 100vh;
	position: absolute;
	overflow: hidden;
	right: 0%;
	top: 0%;
}
