/* .App {
	margin: 0;
	padding: 0;
}

.cursor {
	position: fixed;
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	z-index: 10000;
	width: 4rem;
	height: 4rem;
	opacity: 0;
	transition: opacity 0.3s ease-out;
	cursor: none;
	background: url('./assets/images/HeroCursor.svg') center/contain no-repeat;
	z-index: 100;
}

.cursor.visible {
	cursor: none;
	opacity: 1;
} */

.App {
	margin: 0;
	padding: 0;
	cursor: none;
	
}


.cursor {
	position: fixed;
	pointer-events: none;
	z-index: 100;

	background-color: var(--white);
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	transition: transform 0.1s ease-out;
	transform: translateX(-50%) translateY(-50%);
	/* opacity: 0; */
}

@keyframes rotate {
	from {
		transform: translateX(-50%) translateY(-50%) 0.1s rotate(0deg);
	}
	
	to {
		transform: translateX(-50%) translateY(-50%) 0.1s rotate(360deg);
	}
}

.cursor.visible {
	height: 5rem;
	width: 5rem;
	background: url('./assets/images/HeroCursor.svg') center/cover no-repeat;
	transform-origin: center center;
	animation: rotate 10s linear infinite;
	/* Adjust the rotation speed (2s in this case) */
	transition: opacity 0.1s ease-out;
	opacity: 1;
	transition-property: animation;
	
}