@font-face {
	font-family: "Satoshi";
	src: url("./assets/font/Satoshi-Black.otf") format("opentype");
	font-weight: 900; /* Black */
	font-style: normal;
}

@font-face {
	font-family: "Satoshi";
	src: url("./assets/font/Satoshi-BlackItalic.otf") format("opentype");
	font-weight: 900; /* Black */
	font-style: italic;
}

@font-face {
	font-family: "Satoshi";
	src: url("./assets/font/Satoshi-Bold.otf") format("opentype");
	font-weight: 700; /* Bold */
	font-style: normal;
}

@font-face {
	font-family: "Satoshi";
	src: url("./assets/font/Satoshi-BoldItalic.otf") format("opentype");
	font-weight: 700; /* Bold */
	font-style: italic;
}

@font-face {
	font-family: "Satoshi";
	src: url("./assets/font/Satoshi-Italic.otf") format("opentype");
	font-weight: 400; /* Regular */
	font-style: italic;
}

@font-face {
	font-family: "Satoshi";
	src: url("./assets/font/Satoshi-Regular.otf") format("opentype");
	font-weight: 400; /* Regular */
	font-style: normal;
}

@font-face {
	font-family: "Satoshi";
	src: url("./assets/font/Satoshi-Medium.otf") format("opentype");
	font-weight: 500; /* Medium */
	font-style: normal;
}

@font-face {
	font-family: "Satoshi";
	src: url("./assets/font/Satoshi-MediumItalic.otf") format("opentype");
	font-weight: 500; /* Medium */
	font-style: italic;
}

@font-face {
	font-family: "Satoshi";
	src: url("./assets/font/Satoshi-Light.otf") format("opentype");
	font-weight: 300; /* Light */
	font-style: normal;
}

@font-face {
	font-family: "Satoshi";
	src: url("./assets/font/Satoshi-LightItalic.otf") format("opentype");
	font-weight: 300; /* Light */
	font-style: italic;
}

* {
	--bg-color: #171716;
	--white: #f4efef;
	--white-40: rgba(153, 153, 153, 1);
	--grey: #d9d9d9;
	--blue-main: #1bf4f9;
	--blue-dark: #002bdc;

	box-sizing: border-box;

	
}

*::selection {
	background: var(--blue-main);
	color: var(--bg-color);
}

html {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Satoshi";
	font-weight: 400;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	margin-block-start: 0;
	margin-block-end: 0;

	/* font-family: Satoshi; */
	font-size: 4rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

h2 {
	margin-block-start: 0;
	margin-block-end: 0;

	/* font-family: Satoshi; */
	font-size: 2rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

h3 {
	margin-block-start: 0;
	margin-block-end: 0;

	/* font-family: Satoshi; */
	font-size: 1.3rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

h4 {
	margin-block-start: 0;
	margin-block-end: 0;

	/* font-family: Satoshi; */
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
